<footer style="background-color: #161616;">
    <hr>
    <p style="text-align: center; color: #ffffff;">
        FATEC Registro &reg; 2025
    </p>
</footer>
</body>
<script src="/js/script.js"></script>
</html>