<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
    Lakers
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/jogadores">Jogadores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/titulos">Titulos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/lendas">Lendas</a>
        </li>
    </ul>
</nav>
<br>