<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

    <div class="container">
        <div class="jumbotron">
            <br>
            <h1 class="display-5"><strong>Bem-vindo(a) ao paraiso dos fãs do Lakers</strong></h1>
            <p class="lead">Conheça mais sobre seu time do coração</p>
            <hr class="my-4">
            </p>         
            <p class="lead">
              <a class="btn btn-info btn-lg" href="/jogadores" role="button">Conheça nosso elenco</a>
            </p>
          </div>
        <hr>
        <div class="card">
            <div class="card-header">
                <h1>Para onde deseja ir?</h1>
            </div>
            <div class="card-body">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/jogadores">Jogadores</a></li>
                    <li><a href="/lendas">Lendas</a></li>
                    <li><a href="/titulos">Titulos</a></li>
                </ul>
            </div>
        </div>
    </div>
    
<%- include ('partials/footer.ejs') %>
