<%- include('partials/header.ejs') %>
    <h1>Bem Bem-vindo(a) <strong> <%=user%> </strong> ao seu perfil!</h1>
    <hr>
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/clientes">Clientes</a></li>
         <li><a href="/perfil">Perfil</a></li>
    </ul>
<%- include('partials/footer.ejs') %>