<%- include('partials/header.ejs') %>
    <h1>Bem-vindo a homepage!</h1>
    <hr>
    <ul>
       <%# Comentario no EJS %>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="/clientes">Clientes</a></li>
        <li><a href="/perfil">Perfil</a></li>
    </ul>
    <img src="/imgs/imagem1.webp" width="800px" alt="Imagem de capa">
<%- include('partials/footer.ejs') %>